@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 5px;
  font-family: Arial, Helvetica;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: antiquewhite;
  padding: 10px;
  box-shadow: 0 4px 2px -2px gray;
  z-index: 1000;
}

/* .navbar-start {
  flex: 1;
} */

#search {
  padding: 5px;
  margin-right: 10px;
  border-radius: 10px;
}

.navbar-end {
  display: flex;
}

.navbar-end > div {
  margin-right: 15px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 20px 20px 20px;
}
.content {
  font-size: larger;
  max-width: 60%;
}

.image {
  max-width: 100%;
  border-radius: 12px;
}

@media only screen and (min-width: 768px) {
  /* Adjust layout for devices with a minimum width of 768px */
  .container {
      margin: 0; /* Reset margin to left-align the container */
  }
}

.button {
  background-color: orange;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.row {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}